
<div class="b-ajax-block">
    <div class="b-ajax-block__text">{{ block.text|safe }}</div>
</div>
<div><a data-id="{{ block.id }}" rel="nofollow" class="b-ajax-block__more" href="{% url refresh_ajax_block %}">Обновить</a></div>

<script type="text/javascript">
 (function(){
        var block = $('.b-ajax-block');
        $(block).find('.b-ajax-block__more').bind('click', function(){
            var url = $(this).attr('href');
            var cur_id = $(this).attr('data-id');
            $.ajax({
                url: url,
                dataType: 'json',
                data: {'cid': cur_id},
                success: function (data) {
                    $(block).find('.b-ajax-block__text').html(data.block_text);
                    $(block).find('.b-ajax-block__more').attr('data-id', data.block_id);
                }
            });
            return false;
        });
    })();
</script>
